body {
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1485470733090-0aae1788d5af?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=60) 0% 0% / cover fixed;
}
  
  

* {
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.container {
    margin: 250px auto;
    width: 350px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    background: white;
    padding: 35px;
    box-shadow: 2px 4px 5px 0px rgb(36, 32, 32);
}

.button {
    display: inline-block;
    color: #c0392b;
    background-color: #ecf0f1;
    padding: 12px 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #c0392b;
    border-image: initial;
    border-radius: 6px;
}

.nama {
    color: rgb(44, 62, 80);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.button:hover {
    background-color: #c0392b;
    color: white;
    cursor: pointer;
}

.content{
    position: fixed;
    border-radius: 10px;
    height: auto;
    background: white;
    padding: 30px;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: 200ms ease-in-out;
    text-align: justify;
}

.content.active{
    transform: translate(-50%,-50%) scale(1);
}


.close{
    padding-bottom: 20px;
}

.exit{
    width: 30px;
    position: relative;
    left: 96%;
    border: none;
    background: none;
    font-weight: 600;
    font-size: 20px;
}